:root {
  --bg: #0f172a;
  --azul: #1e293b;
  --verde: #0d9488;
  --cinza: #cbd5e1;
  --sombra: 4px 4px 3px 1px inset rgba(0, 0, 0, 0.5),
    4px 4px 3px 1px rgba(0, 0, 0, 0.5);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overscroll-behavior-y: none;
}
body {
  background: var(--bg);
  padding: 0 2rem;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 500;
}
.logo {
  margin: 12rem 0;
  width: 100%;
  height: 100%;
  opacity: 25%;
}
.load {
  overflow: visible;
  position: absolute;
  top: 24rem;
  left: 10rem;
  width: 4rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
@keyframes loading {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0px);
  }
}
.bola {
  width: 1rem;
  height: 1rem;
  background: var(--cinza);
  border-radius: 50%;
}
.bola1 {
  animation: loading 2s ease-in-out infinite;
}
.bola2 {
  animation: loading 2s ease-in-out infinite;
  animation-delay: 0.5s;
}
.bola3 {
  animation: loading 2s ease-in-out infinite;
  animation-delay: 1s;
}

/* Boas Vindas HTML */
p {
  margin: 6rem 0 3rem 0;
  font-size: 1.5rem;
  color: var(--cinza);
  text-align: center;
}
.seta {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  padding: 1rem 0.8rem;
  border-radius: 50%;
  background: var(--verde);
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  text-decoration: none;
  color: var(--azul);
  font-size: 2rem;
}

/* Login HTML */
label {
  font-size: 0.9rem;
  color: var(--cinza);
  text-align: center;
}
.input {
  padding: 0.6rem 1.5rem;
  margin: 1rem 0;
  width: 98%;
  height: 4rem;
  border-radius: 42px;
  border: none;
  background: var(--bg);
  box-shadow: var(--sombra);
}
input {
  display: block;
  width: 100%;
  height: 40%;
  margin-top: 0.4rem;
  background: transparent;
  color: var(--cinza);
  border: none;
  border-bottom: solid var(--cinza) 2px;
  font-size: 1.2rem;
  outline: none;
}
input:focus {
  outline: none;
  border-radius: 0;
  border-bottom: solid var(--azul) 2px;
}
.btn {
  overflow-y: hidden;
  position: absolute;
  bottom: 2rem;
  position: absolute;
  left: 26%;
  padding: 0.8rem 2rem;
  width: 12.8rem;
  height: 3rem;
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  text-decoration: none;
  color: var(--bg);
  background: var(--verde);
}

/* Quarto HTML */
.taskList {
  width: 100%;
  height: 30rem;
  margin: 0;
  margin-top: 6rem;
}
@media (max-height: 800px) {
  p{
    margin-top: 3rem;
  }
  .taskList {
    height: 25rem;
  }
}
.filtro {
  position: absolute;
  color: var(--verde);
  font-size: 2rem;
  right: 2rem;
}
.bar {
  padding: 0.6rem 0 0 1.5rem;
  width: 98%;
  height: 4rem;
  border-radius: 42px;
  margin-bottom: 1rem;
  box-shadow: var(--sombra);
}
.bar span {
  color: var(--verde);
}
.bar p {
  font-size: 1rem;
  display: inline;
}

/* Home */
.perfil {
  margin: 2.5rem 0 1.5rem 0;
  padding: 0;
  width: 100%;
  height: 4rem;
}
h1 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  color: var(--cinza);
}
h2 {
  margin: -0.4rem 0;
  font-size: 0.9rem;
  color: var(--azul);
}
.perfil img {
  position: absolute;
  top: 2.5rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: solid #0d9488 3px;
}
.level {
  margin: 0;
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: column;
}
.text {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.level p {
  display: inline;
  margin: 0;
  font-size: 0.9rem;
}
.progress {
  overflow: visible;
  width: 100%;
  margin: 0.5rem 0 0.5rem 0;
  height: 0.5rem;
  background: linear-gradient(90deg, #0d9488 0%, #1e293b 0);
  margin-bottom: -1rem;
}
.markup {
  position: relative;
  top: -50%;
  left: 0%; /* Deve acompanhar a porcentagem do bg do .progress*/
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: var(--cinza);
  border: solid 2px #0d9488;
}
.motivation {
  margin: 0;
  margin-bottom: 4rem;
  font-size: 0.75rem;
}
