:root {
  --bg: #0f172a;
  --azul: #1e293b;
  --verde: #0d9488;
  --cinza: #cbd5e1;
  --sombra: 4px 4px 3px 1px inset rgba(0, 0, 0, 0.5),
    4px 4px 3px 1px rgba(0, 0, 0, 0.5);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  background: var(--bg);
  padding: 2rem;
  font-family: "Kdam Thmor Pro", sans-serif;
}
.logo {
  margin: 12rem 0;
  width: 100%;
  height: 100%;
  opacity: 25%;
}
.load {
  overflow: visible;
  position: absolute;
  top: 24rem;
  left: 10rem;
  width: 4rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
@keyframes loading {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0px);
  }
}
.bola {
  width: 1rem;
  height: 1rem;
  background: var(--cinza);
  border-radius: 50%;
}
.bola1 {
  animation: loading 2s ease-in-out infinite;
}
.bola2 {
  animation: loading 2s ease-in-out infinite;
  animation-delay: 0.5s;
}
.bola3 {
  animation: loading 2s ease-in-out infinite;
  animation-delay: 1s;
}

/* Segundo HTML */
p {
  margin: 4rem 0 3rem 0;
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--cinza);
  text-align: center;
}
.seta {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

/* Terceiro HTML */
label {
  font-size: 0.9rem;
  color: var(--cinza);
  text-align: center;
}

.input {
  padding: 0.6rem 1.5rem;
  margin: 1rem 0;
  width: 98%;
  height: 4rem;
  border-radius: 42px;
  border: none;
  background: var(--bg);
  box-shadow: var(--sombra);
}
input {
  display: block;
  width: 100%;
  height: 40%;
  margin-top: 0.4rem;
  background: transparent;
  color: var(--cinza);
  border: none;
  border-bottom: solid var(--cinza) 2px;
  font-size: 1.2rem;
}
input:focus {
  outline: none;
  border-bottom: solid var(--azul) 2px;
}
.btn {
  position: fixed;
  bottom: 2rem;
  margin-left: -2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Quarto HTML */
.bar {
  padding: 0.6rem 0 0 1.5rem;
  width: 98%;
  height: 4rem;
  border-radius: 42px;
  margin-bottom: 1rem;
  box-shadow: var(--sombra);
}
.bar span {
  color: var(--verde);
}
.bar p {
  font-size: 1rem;
  display: inline;
}

/* Home */
.perfil {
  margin-bottom: 1.5rem;
  padding: 0;
  width: 98%;
  height: 4rem;
}
h1 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  color: var(--cinza);
}
h2 {
  margin: -0.4rem 0;
  font-size: 0.9rem;
  color: var(--azul);
}
.perfil img {
  position: absolute;
  top: 2rem;
  right: 3rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: solid black 2px;
}
